body {
  font-family: "Helvetica,Arial,'宋体',sans-serif";
  background-image: url("http://ww4.sinaimg.cn/mw690/62d95157gw1ezb4n0oc6wj211y0lc1kx.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-color: #EFBF9B;
  background-size: cover;
}

/*.container {
	margin-top: 40%;
}
*/
.row {
  text-align: center;
}

#title {
  color: #BFAD61;
  font-size: 1.5em;
  margin: 3%;
  text-shadow: 0 0 0.3em #000;
}

#icon,#temp {
  display: inline;
}

.temp {
  font-size: 2em;
  font-weight: bold;
  color: white;
  padding-bottom: 3%;
  text-shadow: 0 0 0.2em #333;
}

.wrap {
  margin: 0 auto;
  /*width: 70%;*/
}

.detail {
  border: 2px solid white;
  box-shadow: .2em .2em .2em #444;
  background-color: white;
  padding: 2% 1% 2% 1%;
  color: #7F3320;
  border-radius: 0.3em;
  opacity: 0.7;
  margin: 5% 1% 1% 1%;
  width: 10%;
  display: inline-block;
}

#location: {
  margin-left: 35%;
}

#next1,#next2,#next3,.icon,.temp {
  display: inline-block;
  margin: 10px;
}

.tips {
  font-size: 2em;
  font-weight: bold;
  color: aliceblue;
}

#future {
  /*缩放*/
  transform:scale(0.8);
}
