html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,pre,hr,table,caption,th,td,form,input,button,textarea{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left;font-weight:normal}html,body,img,iframe{border:0}li{list-style:none}textarea{appearance:none;resize:none;overflow:auto;&:focus{
    border-color:rgba(43, 160, 43, .9) !important}}u,s{text-decoration:none}a{text-decoration:none;-webkit-transition:color .3s;-moz-transition:color .3s;-ms-transition:color .3s;-o-transition:color .3s;transition:color .3s}a:hover{text-decoration:none}body,textarea,input,button,select{font:12px/1.14 arial, \5b8b\4f53;color:#333;outline:0;border:0}a{color:#333}
.map-circle {
    position:absolute;
    height:66px;
    width:66px;
    -webkit-border-radius:50%;
    border-radius:50%;
    cursor:pointer;
    font-size:13px;
    text-align:center;
    color:#fff;
    background:rgba(43, 160, 43, .9);
    margin-top:-33px;
    margin-left:-33px
}
.map-circle:hover {
    background:#EE5D5B;
    z-index: 99;
}
.map-circle:hover .map-nodatatips {
    display:block
}
.map-circle .map-nodatatips {
    position:absolute;
    top:50%;
    right:-88px;
    padding:0 10px;
    margin:-12px 0 0 0;
    width:60px;
    cursor:pointer;
    white-space:nowrap;
    height:24px;
    line-height:24px;
    background:#EE5D5B;
    -webkit-border-radius:2px;
    border-radius:2px;
    text-align:center;
    color:#fff;
    font-size:12px;
    display:none
}
.map-circle .map-nodatatips .map-itips {
    position:absolute;
    top:7px;
    left:-10px;
    width:0;
    height:0;
    border-style:solid;
    border-width:5px;
    border-color:transparent #EE5D5B transparent transparent
}
.map-areaname {
    margin-top:17px;
    display:block;
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    width:66px;
    white-space:nowrap;
    font-size:12px;
    color:#fff
}
.map-areanumber {
    margin-top:6px;
    white-space:nowrap;
    font-size:14px;
    color:#fff
}
.circlebox {
    width:20px;
    height:20px;
    position:relative
}
.circlebox .bg-circle {
    position:absolute;
    left:-10px;
    bottom:-10px;
    width:20px;
    height:20px;
    background:#007dd4;
    -webkit-border-radius:50%;
    border-radius:50%;
    opacity:.2;
    filter:alpha(opacity=20)
}
.circlebox .sm-circle {
    width:6px;
    height:6px;
    background:#007dd4;
    -webkit-border-radius:50%;
    border-radius:50%;
    position:absolute;
    top:50%;
    left:50%;
    margin:-3px 0 0 -3px
}
.circlebox .line {
    width:2px;
    height:18px;
    background:#007dd4;
    opacity:.6;
    filter:alpha(opacity=60);
    position:absolute;
    bottom:0;
    left:-1px
}
.circlebox .ctx {
    display:block;
    position:absolute;
    top:-42px;
    left:50%;
    margin-left:-50px;
    min-width:80px;
    padding:0 10px;
    cursor:pointer;
    white-space:nowrap;
    height:24px;
    line-height:24px;
    background:#007dd4;
    -webkit-border-radius:12px;
    border-radius:12px;
    text-align:center;
    color:#fff;
    font-size:12px
}
.circlebox.hoverbox .bg-circle {
    background:#EE5D5B;
    z-index:99
}
.circlebox.hoverbox .sm-circle {
    background:#EE5D5B;
    z-index:99
}
.circlebox.hoverbox .line {
    background:#EE5D5B;
    z-index:99
}
.circlebox.hoverbox .ctx {
    background:#EE5D5B;
    z-index:99
}
