{
    "presets":[
        ["@babel/preset-env",{
            "targets":{
               "node":"current" 
            }
        }]
    ]
}


//执行流程
// npm run test
// jest (babel-jest)
// babel-core
// 取 .babelrc配置
// 在运行测试之前，结合babel，先把代码做一次转换
// 运行转化过的用例代码